a {
    color: #5E966C;
    transition: color .3s ease;
}

    a:hover { color: #00D990; }

body {
    background-color: #110D09;
    margin: 0 auto;
    margin-bottom: .5em;
    text-align: center;
    width: 95vw;
}

header {
    border-bottom: 2px solid #727272;
    border-top: 2px solid #727272;
    font-size: 1.3em;
    margin-top: .6em;
}

    header h1 {
        margin: 0;
        margin-bottom: .8em;
        margin-top: .5em;
    }

html {
    color: #E5C5A4;
    font-family: sans-serif;
}

nav { 
    animation: appear .5s;
    animation-delay: .3s;
    animation-fill-mode: forwards;
    font-size: 1.4em;
    list-style-type: none;
    opacity: 0;
}

    nav ul { padding: 0; }

    nav li { display: inline-block; }

.character-image {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-top: 1em;
    padding: 5px;
    width: 95%;
}

.description { font-size: 4.5vw; }

.note { font-size: 1em; }

.object-list {
    animation: slide-load .6s;
    border-bottom: 2px solid #727272;
    border-top: 2px solid #727272;
    display: table;
    list-style-type: none;
    margin: 0 auto;
    margin-top: 2em;
    min-width: 100%;
    padding: 1em 0;
}

    .object-list li { display: table-row; }

.object-name {
    display: table-cell;
    font-size: 3.9vw;
    font-weight: bold;
    padding: .1em 0;
    padding-right: 2%;
    text-align: right;
    width: 50%;
}

.object-value {
    display: table-cell;
    font-size: 3.9vw;
    padding: .1em 0;
    padding-left: 2%;
    text-align: left;
    transition: color .3s ease;
    width: 50%;
}

.palette-color-0d3930 { background-color: #0D3930; }
.palette-color-110d09 { background-color: #110D09; }
.palette-color-2b241d { background-color: #2B241D; }
.palette-color-6a3b01 { background-color: #6A3B01; }
.palette-color-6d8f9c { background-color: #6D8F9C; }
.palette-color-ac727b { background-color: #AC727B; }
.palette-color-ffdbb7 { background-color: #FFDBB7; }

.palette-container { 
    align-items: center;
    animation: slide-load .6s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5em;
}

.vl {
    animation: appear .5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    border-left: 2px solid #727272;
    height: 50px;
    opacity: 0;
    margin-left: 50%;
}

.vl + .object-list {
    animation-delay: .6s;
    animation-fill-mode: forwards;
    margin-top: 0;
    opacity: 0;
}

[class*="palette-color"] {
    border: 1px solid #DDDDDD;
    height: 4em;
    margin: 0 auto;
    width: 4em;
}

[class*="palette-i"] { margin: .5em .1em 0 .1em; }

[class*="palette-label"] {
    font-size: .8em;
    margin: 0;
    margin-bottom: .1em;
}

@keyframes appear {
    from { opacity: 0; }

    to { opacity: 1; }
}

@keyframes slide-load {
    from { 
        transform: translateY(-33%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (min-width: 768px) {
    body { width: 78vw; }

    header { font-size: 1.6em; }

    .character-image { width: 98%; }

    .description { font-size: 1.4em; }

    .object-list {
        border: 2px solid #727272;
        box-sizing: border-box;
        padding: 1em 2em;
    }

    .object-name {
        font-size: 1.3em;
        padding: .2em;
        padding-right: 4%;
    }

    .object-value {
        font-size: 1.3em;
        padding: .2em;
        padding-left: 4%;
    }

    .vl { height: 75px; }

    [class*="palette-color"] {
        height: 5em;
        width: 5em;
    }

    [class*="palette-label"] { font-size: 1em; }
}

@media screen and (min-width: 1024px) {
    body { width: 58vw; }
}

@media screen and (min-width: 1280px) {
    body { width: 48vw; }
}
